.navbar {
  margin-left: 10%;
  margin-right: 10%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10%;
}

li:hover {
  color: blue;
}

.span.li {
  font-weight: 900;
}
