.aboutMe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.aboutMeText {
  font-size: 2em;
}

.aboutMeContent {
  max-width: fit-content;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .aboutMeText {
    font-size: 1.7em;
  }

  .aboutMeContent {
    font-size: 17px;
  }
}

@media screen and (max-width: 400px) {
  .aboutMe {
    margin-top: 0;
  }

  .aboutMeText {
    font-size: 1.2em;
  }
}
