.aboutMeInfo {
  color: rgb(75, 65, 65);
  display: flex;
  flex-direction: row;
  margin: 4em 10% 2em 10%;
  gap: 5em;
}

.introductionContainer {
  width: 50%;
}

.introductionText {
  color: rgb(75, 65, 65);
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 1.5em;
}

.introContent {
  color: rgb(75, 65, 65);
  font-size: 17px;
  margin-bottom: 1em;
}

.contactButton {
  margin-top: 2em;
  padding: 1rem 2rem;
  background: rgb(166, 226, 250);
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 800;
  font-size: 1em;
  color: rgb(75, 65, 65);
  border-radius: 5px;
  border-color: rgb(166, 226, 250);
  transition: all 0.2s ease-in-out;
}

.contactButton:hover {
  transform: scale(1.1);
}

.aboutMeSkillContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.skillText {
  font-size: 1.5em;
  color: rgb(75, 65, 65);
  margin: 0;
  margin-bottom: 1.5em;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 1rem 2rem;
  width: fit-content;
  block-size: fit-content;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 0.9rem;
  background-color: rgba(147, 137, 137, 0.2);
  font-weight: 600;
  color: #666;
  border-radius: 10%;
}

@media screen and (max-width: 1200px) {
  .introductionText {
    font-size: 1.2em;
  }

  .skillText {
    font-size: 1.2em;
  }

  .introContent {
    font-size: 16px;
  }

  .skill {
    font-size: 0.8em;
    padding: 0.7rem 1.7rem;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  .aboutMeInfo {
    display: flex;
    flex-direction: column;
  }

  .introductionContainer {
    width: 100%;
  }

  .aboutMeSkillContainer {
    width: 100%;
  }
}
