.formContainer {
  color: rgb(75, 65, 65);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 0;
}

.contact {
  color: rgb(75, 65, 65);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
}

.contactContent {
  color: rgb(75, 65, 65);
  margin: 0 auto;
  font-size: 18px;
}

.contactMeText {
  font-size: 2em;
}

.emailForm {
  display: flex;
  flex-direction: column;
}

.formtext {
  font-weight: 600;
  color: rgb(75, 65, 65);
}

.submitBtn {
  display: flex;
  justify-content: center;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  padding: 0.7em 0.7em;
  font-size: 1em;
  font-weight: bold;
  color: rgb(75, 65, 65);
  background: rgb(166, 226, 250);
  border-color: rgb(166, 226, 250);
  border-radius: 5%;
  transition: all 0.2s ease-in-out;
}

.submitBtn:hover {
  transform: scale(1.1);
}

.nameInput {
  margin-top: 5px;
  margin-bottom: 2em;
  height: 40px;
  padding: 10px;
}

.emailInput {
  margin-top: 5px;
  margin-bottom: 2em;
  height: 40px;
  padding: 10px;
}

.messageInput {
  margin-top: 5px;
  margin-bottom: 2em;
  height: 13em;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.messageInput::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1200px) {
  .contactMeText {
    font-size: 1.7em;
  }
}
