.header_menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  font-size: 0.9em;
  border-bottom: solid;
  border-color: rgb(245, 241, 241);
  padding: 1.5em;
}

.menu:hover {
  color: skyblue;
}

.clicked_menu {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  font-size: 0.9em;
  border-bottom: solid;
  border-color: rgb(245, 241, 241);
  padding: 1.5em;
  color: skyblue;
}
