.header_menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: solid;
  border-color: rgb(245, 241, 241);
  padding: 1.25em;
}

.first_menu {
  display: flex;
  justify-content: flex-end;
  border-top: solid;
  border-bottom: solid;
  border-color: rgb(245, 241, 241);
  padding: 1.25em;
}
