.navbar {
  font-weight: bold;
  font-size: 1.25em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10%;
}

.myName:hover {
  color: skyblue;
}
li:hover {
  color: skyblue;
}

span {
  font-weight: bold;
}

li {
  font-weight: bold;
}
