.projectsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 3rem;
  background-color: white;
  border-radius: 20px;
  row-gap: 2.5rem;
}

.project {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(245, 241, 241);
  width: 100%;
  height: 50%;
}

.project:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.talkie_img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(../../images/Talkie.png);
  background-size: cover;
  object-position: center;
}
.dondon_img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(../../images/DonDon.png);
  background-size: cover;
  object-position: center;
}
.scheduler_img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(../../images/Scheduler.png);
  background-size: cover;
  object-position: center;
}

.projectContent {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
}

.title {
  font-size: 1.2em;
  font-weight: 800;
}

.descriptionCt {
  font-size: 0.7em;
}

.description {
  margin-top: 1em;
}

.repoLink {
  margin-top: 1em;
  font-size: 1.1em;
  color: rgb(85, 171, 205);
  font-weight: 800;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 0.3rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.repoLink:hover {
  box-shadow: inset 60px 0 0 0 #54b3d6;
  color: white;
}

@media screen and (max-width: 1200px) {
  .talkie_img {
    width: 350px;
    height: 150px;
  }

  .dondon_img {
    width: 350px;
    height: 150px;
  }

  .scheduler_img {
    width: 350px;
    height: 150px;
  }

  .title {
    font-size: 1em;
  }

  .description {
    font-size: 1.3em;
  }

  .repoLink {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 900px) {
  .projectsContainer {
    padding: 2rem;
  }

  .project {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    width: 100%;
    height: 50%;
  }

  .talkie_img {
    width: 350px;
    height: 200px;
  }

  .dondon_img {
    width: 350px;
    height: 200px;
  }

  .scheduler_img {
    width: 350px;
    height: 200px;
  }

  .projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .projectsContainer {
    margin-left: 2%;
    margin-right: 2%;
    padding: 2rem;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .talkie_img {
    width: 250px;
    height: 150px;
  }

  .dondon_img {
    width: 250px;
    height: 150px;
  }

  .scheduler_img {
    width: 250px;
    height: 150px;
  }

  .projectsContainer {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
    row-gap: 1rem;
  }

  .title {
    font-size: 0.9em;
  }

  .description {
    font-size: 1.2em;
  }

  .repoLink {
    font-size: 0.8em;
  }
}
