.heroIcons {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 50px;
  position: absolute;
  background-color: white;
  border-radius: 5%;
}

.githubProfile {
  margin-bottom: 5px;
}

.linkedinProfile {
  margin-bottom: 5px;
}

.iconLink {
  margin-left: 10px;
  margin-right: 10px;
  width: 55px;
  height: 65px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.iconLink:hover {
  background-color: rgb(213, 233, 241);
}
