.heroIcons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  position: absolute;
}

.githubProfile {
  margin-bottom: 5px;
}

.linkedinProfile {
  margin-bottom: 5px;
}

.iconLink {
  width: 55px;
  height: 65px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.iconLink:hover {
  background-color: skyblue;
}
