.topProjects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.topProjectsText {
  font-size: 2em;
}

.topProjectsContent {
  max-width: fit-content;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .topProjectsText {
    font-size: 1.7em;
  }

  .topProjectsContent {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  .topProjectsText {
    font-size: 1.5em;
  }

  .topProjectsContent {
    font-size: 15px;
  }
}
